{% extends "base.html" %}

{% block content %}

<h1>Login</h1>
<div class="error">
    {% if error %}
    {{ error }}
    {% endif %}
</div>
<form method="POST" action="{% url 'login' %}">
    {% csrf_token %}
    <div class="mt-3">User Name:</div>
    <div>
        <input type="text" name="username">
    </div>
    <div class="mt-3">Password:</div>
    <div>
        <input type="password" name="password">
    </div>

    <div class="mt-3">
        <input type="submit" value="Login" class="btn btn-primary">
    </div>
</form>


{% endblock %}