{% extends "base.html" %}

{% block content %}

{% for product in products.all %}
<div class="row mt-3">
    <div class="col-2">
        <a href="{% url 'product_details' product.id %}">
            <img src="{{ product.icon.url }}" alt="product image" class="img-fluid">
        </a>
    </div>
    <div class="col-7 cur-poin" onclick="window.location='{% url 'product_details' product.id %}';">
        <h1>{{ product.title }}</h1>
        <p>
            {{ product.summery }}
        </p>
    </div>
    <div class="col-3">
        <a href="javascript:{document.getElementById('upvote{{ product.id }}').submit()}"
            class="btn btn-primary btn-lg btn-block">
            <ion-icon class="upvote" name="caret-up-sharp"></ion-icon> Upvote {{product.votes_total}}
        </a>
    </div>
</div>

<form action="{% url 'upvote' product.id %}" id="upvote{{product.id}}" method="post">
    {% csrf_token %}
    <input type="hidden">
</form>

{% endfor %}

{% endblock %}